.f-editor {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  tab-size: 4;
  font-family: monospace;
  white-space: pre;
  overflow: visible;
}

.f-editor::selection {
  background-color: #cce5ff;
}
